.mapholder {
  margin: 70px 175px;
  text-align: center;
  font-family: Move;
}

.mapdisplay {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.key {
  margin-top: 80px;
  text-align: center;
}

.mapexplanation {
  text-align: justify;
}

@media all and (min-width: 0px) and (max-width: 800px) {
  .mapholder {
    margin: 50px 30px;
  }
}