.headernav {
  background-color: #e32a19;
  height: 460px;
  padding-top: 10px;
  background-size: 100% 220%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url('../Images/guard.jpg');
}

.headernav h1 {
  color: #fff;
  font-weight: bold;
  font-size: 55px;
  text-shadow: 3px 3px #47362d;
  font-family: Georgia;
  padding-top: 250px;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav p {
  flex-direction: row;
  margin: 5px 10px;
  text-decoration-style: none;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #000;
}

