@font-face {
  font-family: 'Velez';
  src: url('../HeaderFonts/wv-webfont.woff');
}

.sitename h1 {
  color: #fff;
  font-weight: bold;
  font-size: 55px;
  font-family: Velez;
  text-align: center;
}

.sitename {
  margin-top: -70px;
  background-image: linear-gradient(to bottom right, #665744, #332006);
}

hr {
  margin-top: -55px;
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.nav {
  display: flex;
  justify-content: flex-end;
  height: 270px;
  background-size: 100% 280%;
  background-position: 0px -215px;
  background-repeat: no-repeat;
  background-image: url('../Images/beachfront.jpg'); 
}

.linkholder {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.linkentries {
  padding-top: 1px;
  color: #000;
  font-family: Velez;
  flex-direction: column;
  margin: 25px 30px;
  font-weight: bold;
  font-size: 55px;
  justify-content: space-evenly;
}

.linkentries a {
  text-decoration: none;
  color: #000;
}

.hamburger {
  margin: 20px 30px;
}

.menutext {
  width: 30%;
  top: 0;
  right: 0;
  background-color: #e0bc83;
  position: fixed;
  height: 100vh;
}

.mask {
  background-color: rgb(0, 0, 0); 
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.6; 
}

.exit {
  text-align: left;
  margin: 10px 0 10px 25px;
}

@media all and (min-width: 0px) and (max-width: 800px) {
  .nav {
    font-size: 10px;
    background-size: 125% 180%;
    background-position: 0px -30px;
    height: 150px;
  }

  hr {
    margin-top: -30px;
  }

  .menutext {
    width: 30%;
    top: 0;
    right: 0;
    background-color: #e0bc83;
    position: fixed;
    height: 100%;
  }

  .sitename h1 {
    font-size: 27px;
    margin-top: 60px;
  }

  .linkentries {
    font-size: 30px;
    margin: 10px 10px 15px 10px;
    text-align: right;
  }
  
  .linkholder {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
 
  .mask {
    height: 100vh;
    width: 100vh;
    position: fixed;
  }
}

@media all and (min-width: 800px) and (max-width: 900px) {
  .linkentries {
    font-size: 33px;
  }
}