@font-face {
  font-family: 'Move';
  src: url('../MainFont/UberMoveMedium.woff');
}

.landing {
  margin: 140px 175px 50px 175px;
  font-family: Move;
}

.applanding {
  font-family: Move;
}

#uberreview {
  margin: 15px 0 0 0;
  height: 80px;
  width: 80px;
}

h1 {
  font-size: 35px;
}

.landing p, .landing h1 {
  text-align: justify;
}

.toptext {
  margin-top: 100px;
}

#stevepicture {
  height: 100px;
  width: 100px;
}

.uber, .sincerelyflex  {
  display: flex; 
  align-items: center;
}

.sincerelyflex {
  margin-top: 45px;
}

.ubertext {
  text-align: justify;
  margin-right: 35px;
}

.sincerely {
  margin-left: 25px;
}

#prius {
  height: 115px;
  width: 115px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.card {
  vertical-align: top;
  display: inline-block;
  text-align: left;
  margin: 10px 10px;
  padding: 10px 20px;
  height: 250px;
  width: 430px;
  border-radius: 25px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-line;
  background-image: linear-gradient(to bottom right, #743469, #29002eee);
  color: #fff;
}

.card h2 {
  margin-left: 0;
}

.card p {
  white-space: break-spaces;
}

.uberrating {
  margin-top: 100px;
}

#star {
  height: 20px;
  width: 20px;
}

@media all and (min-width: 0px) and (max-width: 800px) {
  .landing {
    margin: 50px 20px 10px 20px;
  }

  .uberratingtext {
    margin-left: 20px;
    margin-right: 20px;
  }
}