.map {
  text-align: center;
}

.maplink {
  size: 15px;
  font-weight: bold;
}

/* 
@media all and (min-width: 0px) and (max-width: 800px) {
  .wrappedmap {
    width: 80vw;
    height: 80vh;
  }
}


@media all and (min-width: 1400px) and (max-width: 2000px) {
  .wrappedmap {
    width: 80vw;
    height: 80vh;
  }
} */