.seabreezeholder .nightlifenav {
  margin-top: -20px;
}

.seabreeze {
  margin-top: 60px;
}

.seabreezeholder {
  font-family: Move;
}

.seabreezeholder hr {
  margin-top: 0;
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5); 
} 

.nlintrotext {
  margin: 70px 175px 50px 175px;
  text-align: justify;
}