.seabreezeholder .nightlifenav {
  margin-top: -20px;
}

.seabreeze {
  margin-top: 60px;
}

.seabreezeholder hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5); 
} 