.donations {
  margin: 140px 175px 150px 175px;
  font-family: Move;
}

h1 {
  font-size: 35px;
  text-align: justify;
}

.donationp {
  text-align: justify;
}

.donations p {
  margin-top: 40px;
}

.venmocashapp {
  text-align: center;
}

.venmo {
  width: 350px;
  margin: 25px auto;
}

.cashapp {
  width: 350px;
  margin: 25px auto 0 auto;
}

.paymentlink {
  border: 1px solid;
  border-radius: 20px;
  border-color: rgb(160, 160, 160);
  width: 400px;
  text-align: center;
  margin: 75px auto 50px auto;
  box-shadow: 5px 5px 5px rgb(160, 160, 160);
}

.paypalp {
  color: rgb(99, 99, 99);
  margin: -20px auto 0px 30px;
  text-align: left;
}

.paymentlink h2 {
  margin: 30px auto -32px 30px;
  text-align: left;
}

.paypalimg {
  margin: -27px auto auto auto;
  height: 50px;
  width: 210px;
}

.sendpaypal {
  text-align: center;
  color: rgb(9, 7, 114);
  font-weight: bold;
  margin-bottom: 25px;
  font-size: 20px;
}

@media all and (min-width: 0px) and (max-width: 800px) {
  .donations h1 {
    font-size: 18px;
  }

  .donations {
    margin: 70px 50px 50px 50px;
  }

  .paymentlink {
    width: 250px;
    margin: 60px auto 25px auto;
  }

  .paypalimg {
    width: 150px;
    height: 37.5px;
  }

  .venmo {
    width: 250px;
    text-align: center;
    margin: 65px auto 10px auto;
  }

  .cashapp {
    width: 250px;
    margin: -10px auto;
  }
}