.nightlifenav {
  background-color:#665744;
  background-image: linear-gradient(to top right, #332006,  #665744,);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nightlifenav p {
  flex-direction: row;
  font-family: Velez;
  font-size: 25px;
}

.nightlifesection, .nightlifesection a {
  color: #fff;
}

.nightlifenav a {
  text-decoration: none;
}

@media all and (min-width: 0px) and (max-width: 800px) {
  .nightlifenav {
    margin-top: 36px;
    height: 40px;
  }

  .nightlifenav p {
    font-size: 22px;
  }
}