.nightlifenav {
  background-color:#665744;
  background-image: linear-gradient(to top right, #332006,  #665744,);
  display: flex;
  justify-content: space-evenly;
}

.nightlifenav p {
  flex-direction: row;
}

.nightlifesection, .nightlifesection a {
  color: #fff;
}