.restaurant {
  margin-top: 70px;
}

.individual {
  list-style-type: none;
  border-style: solid;
  border-color: #a3c9a8;
  border-radius: 20px;
  margin: 50px 150px;
  border-width: 2px;
  text-align: left;
  display: flex;
  box-shadow: 5px 5px #84b59f;
  background-color: white;
  justify-content: center;
}

.locationholder {
  margin-top: 50px;
}

#icon {
  height: 165px;
  width: 250px;
  margin: 15px 0 15px 75px;
}

.intro {
  margin-left: 95px;
  margin-right: 95px;
}

.liholder {
  margin: 20px 10px 0 40px;
}

.individualheader {
  font-size: 20px;
}

.liholder a, .individualheader {
  text-decoration: underline;
}

.menulink {
  font-weight: bold;
}

@media all and (min-width: 0) and (max-width: 800px) {
  .individual {
    margin: 15px 5px;
    justify-content: center;
  }

  #icon {
    height: 99px;
    width: 150px;
    margin: auto auto auto 10px;
  }

  .intro {
    margin-left: 60px;
    margin-right: 60px;
  }

  .liholder {
    margin: 15px 5px 10px 5px;
  }
}