.restaurant {
  margin-top: 70px;
}

.individual {
  list-style-type: none;
  border-style: solid;
  border-color: #a3c9a8;
  border-radius: 20px;
  margin: 50px 150px;
  border-width: 2px;
  text-align: left;
  display: flex;
  box-shadow: 5px 5px #84b59f;
  background-color: white;
  justify-content: space-evenly;
}

.locationholder {
  margin-top: 50px;
}

#icon {
  height: 165px;
  width: 250px;
  margin: 15px 30px 15px 30px;
}

.intro {
  margin-left: 95px;
  margin-right: 95px;
  text-align: justify;
}

.liholder {
  margin: 20px 30px 0 30px;
}

li:nth-child(odd) .liholder {
  order: -1;
}

li:nth-child(even) .liholder {
  order: 1;
  text-align: right;
}

.individualheader {
  font-size: 20px;
  font-family: Velez;
}

.liholder a, .individualheader {
  text-decoration: underline;
  font-size: 25px;
  font-family: Velez;
  color: #000;
}

.menulink {
  font-weight: bold;
}

.contacttext {
  font-family: Move;
  font-size: 17px;
}

.contacttext a {
  font-size: 17px;
  color: #000;
}

@media all and (min-width: 0) and (max-width: 800px) {
  .individual {
    margin: 15px 5px;
    justify-content: space-evenly;
  }

  #icon {
    height: 99px;
    width: 150px;
    margin: auto auto auto 10px;
  }

  .intro {
    margin-left: 60px;
    margin-right: 60px;
  }

  .liholder {
    margin: 15px 5px 10px 5px;
  }
}