.adultholder .nightlifenav {
  margin-top: -20px;
}

.adultholder .nlintrotext {
  margin-top: 60px;
  font-family: Move;
}

.adultholder hr {
  margin-top: 0;
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5); 
}